{% extends 'baseProj.html.twig' %}

{% block title %}Delete user{% endblock %}

{% block content %} 

<h1>Radera användare</h1>

<form action:"{{ path('user_delete_by_id_process', {'id': user.getId()} ) }}" method="post">
    <fieldset>
        <legend>Användardetaljer</legend>
        <p>
            <label>Email:
                <input type="email" name="email" value="{{ user.getEmail() }}">
            </label>
        </p>
        <p>
            <label>Bildlänk:
                <input type="text" name="img" value="{{ user.getImg() }}">
            </label>
        </p>
        <p>
            <label>Akronym:
                <input type="text" name="acronym" value="{{ user.getAcronym() }}" required>
            </label>
        </p>
        <p>
            <label>Namn:
                <input type="text" name="name" value="{{ user.getName() }}">
            </label>
        </p>
        <p>
            <label>Lösenord:
                <input type="password" name="pwd" value="{{ user.getPwd() }}">
            </label>
        </p>
        <p>
            <label>Typ (admin/doe):
                <input type="type" name="type" value="{{ user.getType() }}">
            </label>
        </p>
        <p>
            <input class = "button" type="submit" value="Delete">
        </p>
    </fieldset>
</form>

{% endblock %}
