{% extends 'baseProj.html.twig' %}

{% block title %}Update user{% endblock %}

{% block content %} 

<h1>Uppdatera användare</h1>


<form action:"{{ path('user_update_process', {'id':user.getId()} ) }}" method="post">
        <fieldset>
            <legend>Användardetaljer</legend>
            <p>
                <label>Email:
                    <input type="email" name="email" value="{{ user.getEmail() }}">
                </label>
            </p>
            <p>
                <label>Bildlänk:
                    <input type="text" name="img" value="{{ user.getImg() }}">
                </label>
            </p>

            {% if (type == "doe") %}
            <p>
                <label>Akronym:
                    <input type="text" name="acronym" value="{{ user.getAcronym() }}" required readonly>
                </label>
            </p>
            {% endif %}

            {% if (type == "admin") %}
            <p>
                <label>Akronym:
                    <input type="text" name="acronym" value="{{ user.getAcronym() }}" required>
                </label>
            </p>
            {% endif %}

            <p>
                <label>Namn:
                    <input type="text" name="name" value="{{ user.getName() }}">
                </label>
            </p>
            <p>
                <label>Lösenord:
                    <input type="password" name="pwd" value="{{ user.getPwd() }}" required>
                </label>
            </p>


            {% if (type == "doe") %}
            <p>
                <label>Typ (admin/doe):
                    <input type="type" name="type" value="{{ user.getType() }}" readonly>
                </label>
            </p>
            {% endif %}

            {% if (type == "admin") %}
            <p>
                <label>Typ (admin/doe):
                    <input type="type" name="type" value="{{ user.getType() }}">
                </label>
            </p>
            {% endif %}

            <p>
                <input class = "button" type="submit" value="Uppdatera">
            </p>
        </fieldset>
    </form>
    
    {% endblock %}
    