<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/styleProj.css") }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Kotta+One&family=Quando&family=Courgette&display=swap" rel="stylesheet">
        {{ encore_entry_script_tags('app') }}
    </head>

    <body>
        <div class="container">
            <div class="page-content">
                <div class = "header">
                    
                    <div class="siteheader">
                        <h1 class = "sitetitle">P R O J E K T</h1>
                    </div>

                    <div class="navbar">
                        <nav>
                            <ul>
                                <li><a href = "{{ path("proj") }}">HEM</a></li>
                                <li><a href = "{{ path("aboutProj") }}">OM</a></li>
                                <li><a href = "{{ path("loginProj") }}">ANVÄNDARE</a></li>
                                <li><a href = "{{ path("home") }}">KURSSIDA</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class = "title-div">
                        <h2 class = "proj-title">
                            Vädret i tre svenska städer under de senaste 20 åren</h2>
                    </div>
                </div>



                {% block content %}
                Default content
                {% endblock %}

            </div>
            {# slut page-content #}


            <div class="sitefooter">
                    <img src = "./img/proj/woolly-pix.jpg">
                    <div class = "footer-text">&copy; Åsa Höglund 2022</div>
            </div>




        </div> 
        {# slut container #}




    </body>




    </html>