<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
        {# <link rel="stylesheet" href="{{ url("css/style.css") }}"/> #}
    </head>

    <body>

        <div class="container">
            <div class="page-content">
                <div class = "header">
                    <div class="siteheader">
                        <h1 class = "sitetitle">Object oriented web technologies</h1>
                    </div>

                    <div class="navbar">
                        <nav>
                            <ul>
                                <li><a href = "{{ path("home") }}">Home</a></li>
                                <li><a href = "{{ path("about") }}">About</a></li>
                                {# <li><a href = "{{ path("debug") }}">Debug</a></li> #}
                                <li><a href = "{{ path("card") }}">Card</a></li>
                                <li><a href = "{{ path("game") }}">Game</a></li>
                                <li><a href = "{{ path("book") }}">Library</a></li>
                                <li><a href = "{{ path("report") }}">Report</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                {% block content %}
                Default content
                {% endblock %}

            </div>
            {# slut page-content #}


            <div class="sitefooter">
                &copy; Åsa Höglund 2022
            </div>

        </div> 
        {# slut container #}




    </body>




    </html>
