{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}


{% block content %} 

<h3>Classes</h3>

<a href = "{{ asset("deck") }}">card/deck</a></br>
<a href = "{{ asset("shuffle") }}">card/deck/shuffle</a></br>
<a href = "{{ asset("draw") }}">card/deck/draw</a></br>
<a href = "{{ asset("draw-number") }}">card/deck/draw/:number</a></br>
<a href = "{{ asset("deal") }}">card/deck/deal/:players/:cards</a></br>
<a href = "{{ asset("deck2") }}">card/deck2</a>

<h3>JSON API</h3>
<a href = "{{ asset("api/deck") }}">card/api/deck</a></br>

<h3>Problem solving</h3>
<a href = "{{ asset("game-card") }}">game/card</a></br>

{% endblock %}