{% extends "base.html.twig" %}

{% block title %} Card {% endblock %}


{% block content %} 

<h1>Card</h1>

<h3>Classes</h3>

<a href = "{{ path("card-deck") }}">card/deck</a></br>
<a href = "{{ path("card-shuffle") }}">card/deck/shuffle</a></br>
<a href = "{{ path("card-draw") }}">card/deck/draw</a></br>
<a href = "{{ path("card-draw-number") }}">card/deck/draw/:number</a></br>
<a href = "{{ path("card-deal") }}">card/deck/deal/:players/:cards</a></br>
<a href = "{{ path("card-deck2") }}">card/deck2</a>

<h3>JSON API</h3>
<a href = "{{ path("card-api-deck") }}">card/api/deck</a></br>

<h3>Problem solving</h3>
<a href = "{{ path("card-game-card") }}">game/card</a></br>

{% endblock %}