{% extends "base.html.twig" %}

{% block title %} Metrics {% endblock %}

{% block content %} 

<h1>Metrics</h1>

<h2>Introduktion</h2>
<p>Man brukar prata om fyra C:n och hur de är kopplade till kodkvalitet. C:na står för </p>

<ul class = "list">
    <li>Coverage</li>
    <li>Complexity</li>
    <li>Cohesion</li>
    <li>Coupling</li>
</ul>

<span style="font-weight: bolder"></span>
<p>Coverage, eller kodtäckning, är den del av koden som är täckt av enhetstester. Om en stor del av koden är täckt av enhetstester så bör den också vara av hög kvalitet, eftersom tester har gjorts för att kontrollera att koden beter sig som tänkt, och eventuella fel som smugit sig in har blivit åtgärdade. Här pratar man om procenttal, från 0-100% av kodens rader, metoder eller klasser. Ju högre procenttal kod som är testad desto bättre.</p>

<p>Complexity, kodkomplexitet är ett mått på hur komplex koden är. Måttet visar på hur många beslutspunkter som finns i koden, där koden kan ta flera vägar, t ex en if-else-sats. För varje gång koden kan ta olika vägar ökar komplexiteten med 1. Den enklaste metoden har en komplexitet av 1, den returnerar endast en sak. En enkel metod med låg komplexitet är relativt enkel att testa, medan den blir betydligt svårare att testa om komplexiteten är hög. Det kommer krävas fler testfall, och leder alltså till mer jobb i form av test, men även felsökning/ ändring av koden. Den är även lättare att läsa. Man kan enkelt säga att rak kod som inte är intabbad har låg komplexitet, och det är det man strävar efter, det blir även ett lågt kodkomplexitetsvärde. Man bör ha ett komplexitetsvärde under 10. </p>

<p>Cohesion står för hur väl olika delar i en modul/ metod/ klass är kopplade till varandra. Man talar om att klasser och metoder enbart ska göra en sak, och cohesion är ett mått på hur väl det är uppfyllt. Det innebär en välstrukturerad och mindre rörig kod om de delar som hänger ihop faktiskt är samlade på ett ställe. Cohesion mäts med LCOM (Lack of Cohesive Methods) och ideala värdet för en klass är 1. Det innebär att klassen gör en sak. Högre värden innebär att klassen gör flera saker som inte hänger ihop, och det är inte önskvärt. </p>

<p>Coupling är ett mått på hur många kopplingar eller beroenden min klass har till andra klasser. Dels kan det finnas utgående beroenden (efferent coupling, Ce), dvs min klass använder andra klasser, och dels kan det finnas ingående beroenden (afferent coupling, Ca) då min klass används av andra klasser. Det man vill är att en klass ska vara löst kopplad till andra klasser och vara fristående. Den är då lättare att testa, och även att felsöka/ ändra, då den inte beror av andra klasser. Utgående (efferent) coupling mäts med hjälp av formeln Ce/(Ce + Ca), dvs utgående kopplingar i relation till totala antalet kopplingar. Värdet hamnar mellan 0 och 1, där 0 betyder stabil (inte många kopplingar till andra klasser) och 1 instabil (väldigt många kopplingar till andra klasser). Om man gör ändringar i en klass med många ingående kopplingar så kan det påverka många andra klasser. </p>

<p> Dessa fyra C ger alltså mått på kodkvaliteten. Det finns även flertalet andra mätvärden som kan användas som mått på kvaliteten på kod (t ex storlek på klasser, mått på hur mycket duplicerad kod man har etc) men denna rapport kommer främst koncentrera sig på den fyra C:na.</p>

<h2>Phpmetrics</h2>
Ett sätt att analysera kvaliteten på sin kod är att installera och använda verktyget phpmetrics lokalt och testa sin kod med hjälp av kommandot <span style="font-family:'Courier New', Courier, monospace">composer phpmetrics</span>. Verktyget ger dels en sammanfattande rapport i terminalen och dels en HTML-rapport, där man kan gå in och klicka på olika delar för mer detaljerade mätvärden.</br>

<figure>
    <div class = "pics">
    <a href = "{{ asset("img/quality_phpmetrics_terminal.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/quality_phpmetrics_terminal.JPG") }}" width = "200px"  alt = "Phpmetrics terminal report">

    <a href = "{{ asset("img/quality_phpmetrics_start.JPG") }}" ><img class = "metrics-pic wide-pic" src = "{{ asset("img/quality_phpmetrics_start.JPG") }}" width = "200px"  alt = "Php metrics HTML report"></a> </a></br>
    </div>
        <figcaption>Rapporter från phpMetrics.</figcaption>
</figure>

<p> Från rapporten ser jag att jag har 1 violation på klassen CardController, som säger att den i teorin har 0,44 buggar. Det är dock bara en uppskattning som är gjord beroende på komplexiteten av klassen mm, och är enbart en varning.</p>

<figure>
    <a href = "{{ asset("img/phpmetrics_violations.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/phpmetrics_violations.JPG") }}" width = "200px"  alt = "Php metrics HTML report"></a> </a>
    <figcaption>Class violation från phpMetrics.</figcaption>
</figure>

<p>Följande fyra bilder visar klassernas mått på Complexity, Cohesion och Coupling, samt även mått på klassernas storlek. </p>

<figure>
    <div class = "pics">
    <a href = "{{ asset("img/phpmetrics_complexity.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/phpmetrics_complexity.JPG") }}" width = "200px"  alt = "Php metrics HTML report"></a> 

    <a href = "{{ asset("img/phpmetrics_cohesive.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/phpmetrics_cohesive.JPG") }}" width = "200px"  alt = "Php metrics HTML report"></a>

    <a href = "{{ asset("img/phpmetrics_coupling.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/phpmetrics_coupling.JPG") }}" width = "200px"  alt = "Php metrics HTML report"></a>

    <a href = "{{ asset("img/phpmetrics_size.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/phpmetrics_size.JPG") }}" width = "200px"  alt = "Php metrics HTML report"></a> 
</div>
    <figcaption>Mätvärden från phpMetrics avseende Complexity, Cohesion, Coupling och Size. </figcaption>
</figure>


<p><span style="background-color: #FFFF00">Använd 4C på utvalda delar (nån specifik klass eller två?) av din kod. Använd mätvärdena för att hitta flaskhalsar och svaga punkter i din kod.</span> </p>

<p>Nedanstående bild visar en överblick över maintainability index. Färgen på cirklarna visar på hur lätt koden är att underhålla, och storleken visar på cyklomatiska komplexiteten. En stor röd cirkel är antagligen svår att underhålla. Hovrar man över cirklarna ser man vilka klasser det rör sig om. I den här bilden visas att klassen DiceHand är en halvstor röd cirkel, så den kan vara värd att kika lite extra på.</p>
<figure>
    <a href = "{{ asset("img/phpmetrics_maintainability.png") }}" ><img class = "metrics-pic" src = "{{ asset("img/phpmetrics_maintainability.png") }}" width = "200px"  alt = "Php metrics HTML report"></a> 
    <figcaption>Maintainability index från phpMetrics.</figcaption>
</figure>

<h2>Scrutinizer</h2>
<p>Ett annat sätt att testa kodkvalitet är att använda Scrutinizer, som är ett verktyg som kopplas ihop med ett GitHub-repo. Varje gång man gör en commit till det repot får man automatiskt en rapport för kodens kvalitet.</p>

<figure>
    <a href = "{{ asset("img/quality_scrutinizer_start.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/quality_scrutinizer_start.JPG") }}" width = "200px"  alt = "Scrutinizer report"></a>
    <figcaption>Scrutinizer rapport.</figcaption>
</figure>
<p>De värden som Scrutinizer presenterar för kodkvaliteten syns i nedanstående bild.</p>
<figure>
    <a href = "{{ asset("img/scrutinizer_data_before.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/scrutinizer_data_before.JPG") }}" width = "200px"  alt = "Scrutinizer report"></a>
    <figcaption>Scrutinizer mätvärden.</figcaption>
</figure>
<p>Här ser man värden på storlek, komplexitet och kodtäckning. Det går även att få värden för Cohesion och Coupling. </p>

<span style="background-color: #FFFF00">
Hitta minst 3 svagheter som kan förbättras. Det kan vara samma som för phpmetrics eller nya. Huvudsaken är att du kan använda rapporten från Scrutinizer som stöd för att det är delar som behöver förbättras. </br></br>

Förutom 4C så skall du även hitta minst ett ytterligare mätvärde som du fann intressant hos Scrutinizer.</span>

<h2>Förbättringar</h2>
<span style="background-color: #FFFF00">
Exemplifiera med några mätvärden för de fyra C:na som är kopplade till din egen kod och ge en kort förklaring relaterad till kodkvalitet.</p></span>

<span style="background-color: #FFFF00">Välj minst 3 förbättringar som du vill göra med din kod.</span></br></br>

För att förbättra kvaliteten i koden väljer jag att titta på de issues som finns i rapporten för Scrutinizer, för att se om det är några jag kan fösöka lösa där. Det känns som en "enkel" sak att göra i och med att man får direkta förslag på var i koden problemet ligger, och vad de anser kan förbättra den. I detta fall är det filerna BookController.php och UserController.php som fått kommentarerna att parametern <span style="font-family:'Courier New', Courier, monospace"> $request </span>inte används och kan tas bort, samt filen CardController.php som fått kommentaren <span style="font-family:'Courier New', Courier, monospace">It seems like $drawn[0] can also be of type null; however, parameter $card of App\Card\CardHand::addCard() does only seem to accept App\Card\Card, maybe add an additional type check?</span> Eftersom det totala värdet var ganska bra från början så tror jag inte dessa ändringar kommer ge jättestor effekt, men det återstår att se.
<figure>
    <div class = "pics">
        <a href = "{{ asset("img/quality_scrutinizer0.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/quality_scrutinizer0.JPG") }}" width = "200px"  alt = "Scrutinizer report"></a>
        <a href = "{{ asset("img/quality_scrutinizer1.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/quality_scrutinizer1.JPG") }}" width = "200px"  alt = "Scrutinizer report"></a>
        <a href = "{{ asset("img/quality_scrutinizer2.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/quality_scrutinizer2.JPG") }}" width = "200px"  alt = "Scrutinizer report"></a>
        <a href = "{{ asset("img/quality_scrutinizer3.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/quality_scrutinizer3.JPG") }}" width = "200px"  alt = "Scrutinizer report"></a>
    </div>
    <figcaption>Issues från Scrutinizer.</figcaption>
</figure>

<p>Genom att titta på första bilden från Scrutinizer ser man att test coverage inte var enablat. Detta beror på att en konfigurationsfil inte har blivit pushad till GitHub-repot. Det tänker jag göra så att korrekta mätvärden kan fås. Oklart om det kommer påverka mätvärdena, men om det saknas information borde måttet på kodkvaliteten bli lägre, det borde ge samma resultat som om koden inte är testad.</p>

<p>Jag väljer även att titta på </p>

<span style="background-color: #FFFF00">
Börja med att skriva om förbättringarna, varför du väljer dem, vad du tänker göra, och hur du tror det kommer påverka mätvärdena för kvalitet.</br></br>

Implementera sedan förbättringarna.</br></br>

Analysera därefter rapporterna från phpmetrics och Scrutinizer och notera de nya mätvärdena.</br></br>

Gör det tydligt hur mätvärdena såg ut innan och efter dina förbättringar.</span>



<p>Genom att se till att konfigurationsfilen blev pushad till GitHub-repot så kan man direkt se att det gav effekt på kodkvalieten. Värdet ökade från 9,93 till 10,0.</p>
<figure>
    <a href = "{{ asset("img/quality_phpmetrics_start_new.JPG") }}" ><img class = "metrics-pic" src = "{{ asset("img/quality_phpmetrics_start_new.JPG") }}" width = "200px"  alt = "Scrutinizer report"></a>
    <figcaption>Rapport från Scrutinizer efter tillagd konfigurationsfil.</figcaption>
</figure>

<h2>Diskussion</h2>
<span style="background-color: #FFFF00">
Genom att arbeta igenom de förslag och svagheter som nämns som problem i koden kan man alltså förbättra kvaliteten </br></br>

Diskutera kort kring det du nyss gjort. </br></br>

Kan man aktivt jobba med kodkvalitet på detta sättet? Finns det fördelar och kanske nackdelar?</span>

{% endblock %}