{% extends 'base.html.twig' %}

{% block title %}Delete user{% endblock %}

{% block content %} 

<h1>Delete user</h1>

<form action:"{{ path('user_delete_by_id_process', {'id': user.getId()} ) }}" method="post">
    <fieldset>
        <legend>User details</legend>
        <p>
            <label>Email:
                <input type="email" name="email" value="{{ user.getEmail() }}">
            </label>
        </p>
        <p>
            <label>Acronym:
                <input type="text" name="acronym" value="{{ user.getAcronym() }}" required>
            </label>
        </p>
        <p>
            <label>Name:
                <input type="text" name="name" value="{{ user.getName() }}">
            </label>
        </p>
        <p>
            <label>Password:
                <input type="password" name="pwd" value="{{ user.getPwd() }}" required>
            </label>
        </p>
        <p>
            <label>Type (admin/doe):
                <input type="type" name="type" value="{{ user.getType() }}">
            </label>
        </p>
        <p>
            <input class = "button" type="submit" value="Delete">
        </p>
    </fieldset>
</form>

{% endblock %}
