{% extends 'base.html.twig' %}

{% block title %}Show all users{% endblock %}

{% block content %} 

<h1>Show all users</h1>

<a class="button" href = "{{ path("user_create") }}">Create user</a></br>

<table>
    <th>Email</th><th>Acronym</th><th>Name</th><th>Password</th><th>Type</th><th>Update</th><th>Delete</th>
    {% for user in users %}
        <tr>
            <td>{{ user.getEmail() }}</td>
            <td><a href = "{{ path("user_by_id", {'id':user.getId()} ) }}">{{ user.getAcronym() }}</a></td>
            <td>{{ user.getName() }}</td>
            <td>{{ user.getPwd() }}</td>
            <td>{{ user.getType() }}</td>
            <td><a href = "{{ path("user_update", {'id':user.getId()} ) }}"> Update</a></td>
            <td><a href = "{{ path("user_delete_by_id", {'id':user.getId()} ) }}"> Delete</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
